#flexbox{
    display: flex;
    height: 600px;
}

nav{
    background-color: #302f2f;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow:1;
    width: 100px;
}

section{
    background-color: #464646;
    flex-grow: 9;
}
